

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Late Leave Application Form </title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/late_leave.css">
  </head>
  <body>
    <div class="testbox">
      
      <form action="/Leave/apply_lateleave" method="post">
        <div class="banner">
          <h1>Late Leave Application Form</h1>
        </div>
        <div class="item">
          <label for="name">Name<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="Name" placeholder="First" value="<%= user.Student_Name %>" required/>
            <input id="name" type="text" name="Lastname" placeholder="Last" required/>
          </div>
        </div>
        <div class="item">
          <label for="bdate">Date of Late Leave<span>*</span></label>
          <input id="bdate" type="date" name="Start_date" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="address">Email Address<span>*</span></label>
              <input id="address" type="text" name="Email" required/>
            </div>
            <div>
              <label for="number">Phone Number<span>*</span></label>
              <input id="number" type="tel" name="Phone_number" required />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">SID<span>*</span></label>
              <input id="language" type="number" name="SID" required/>
            </div>
            <div>
                <label for="number">Parent's Phone Number<span>*</span></label>
                <input id="number" type="tel" name="Parent_number" required />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="country">Room Number<span>*</span></label>
              <input id="country" type="number" name="Room_number" required />
            </div>
            <div>
              <label for="job">Branch<span>*</span></label>
              <input id="job" type="text" name="Branch" required/>
            </div>
          </div>
        </div>
        <div class="item">
          <label for="apply">Address of Visiting Plane<span>*</span></label>
          <input id="apply" type="text" name="Visiting_address" required/>
        </div>
          <button type="submit">APPLY</button>
        </div>
      </form>
    </div>
    <a href="/user/profile"><button >GO back to profile page</button></a>
     </div>
    </div>
  </body>
</html>