<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Long-Leave</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>You are applying for long leave</p>

        <form action="/Leave/apply_longleave" method="get">

            <input type="text" name="Name" placeholder="Enter your name" >
            <input type="number" name="SID" placeholder="Enter your SID" >
            <br>
            <input type="date" name="Start_date" placeholder="Enter starting date">
            <input type="date" name="End_date" placeholder="Enter ending date">
            <br>
            <!-- <input type="text " name="Reason" placeholder="Enter your reason"> -->
            <textarea name="Reason" cols="30" rows="3" placeholder="Enter your reason" required></textarea>
            <input type="submit">
        </form>
        
        



    </body>
</html>