
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Leave Application Form </title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/long_leave.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
   
  </head>
  <body>
    <div class="testbox">
      <form action="/Leave/apply_longleave/<%=user.sid%>" method="post">
        <div class="banner">
          <h1>Long Leave Application Form</h1>
        </div>
        <div class="item">
          <label for="name">Name<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="name" placeholder="First" required/>
            <!-- <input id="name" type="text" name="last_name" placeholder="Last" /> -->
          </div>
        </div>
        <div class="item">
          <label for="bdate">Start Date<span>*</span></label>
          <input id="bdate" type="date" name="start_date"  required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
            <label for="bdate">End Date<span>*</span></label>
            <input id="bdate" type="date"  name="end_date" required/>
            <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="address">Email Address</label>
              <input id="address" type="text" name="email" />
            </div>
            <div>
              <label for="number">Phone Number</label>
              <input id="number" type="tel" name="number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">SID<span>*</span></label>
              <input id="language" type="number" name="sid" required />
            </div>
            <div>
                <label for="number">Parent's Phone Number</label>
                <input id="number" type="tel" name="parent_number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="country">Room Number</label>
              <input id="country" type="number" name="room_number" />
            </div>
            <div>
              <label for="job">Reason for Leave<span>*</span></label>
              <input id="job" type="text" name="reason" required />
            </div>
          </div>
        </div>
        <div class="item">
          <label for="apply">Address of Visiting Plane<span>*</span></label>
          <input id="apply" type="text" name="visiting_address" required/>
        </div>
          <button type="submit">APPLY</button>
        </div>
         
      </form>
    </div>
    <a href="/user/profile"><button class="button button2">GO back to profile page</button></a>
     </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js">

    </script>
    <!-- <script>
      var todayDate = new Date();
      var month = todayDate.getMonth()+1;
      var year = todayDate.getUTCFullYear() - 0;
      var tdate = todayDate.getDate();
      var maxmonth = todayDate.getMonth()+2;
      var maxyear = todayDate.getUTCFullYear() - 0;
      var maxtdate = todayDate.getDate();
      if (month < 10) {
          month = "0" + month
      }
      if (tdate < 10) {
          tdate = "0" + tdate;
      }
      if (maxmonth < 10) {
          maxmonth = "0" + maxmonth
      }
      if (maxtdate < 10) {
          maxtdate = "0" + maxtdate;
      }
      var minDate = year + "-" + month + "-" + tdate;
      var maxDate = maxyear + "-" + maxmonth + "-" + maxtdate;
      var elem=document.getElementsByName("start_date");
      var element=document.getElementsByName("end_date");
      elem[0].setAttribute("min", minDate);
      elem[0].setAttribute("max", maxDate);
      element[0].setAttribute("min", minDate);
      element[0].setAttribute("max", maxDate);
      console.log(minDate);
      console.log(maxDate);
  </script> -->

    <script>
$(document).ready(function()
{
  $(function()
  {
    var todayDate = new Date();
      var month = todayDate.getMonth()+1;
      var year = todayDate.getUTCFullYear() - 0;
      var tdate = todayDate.getDate();
      // var maxmonth = todayDate.getMonth()+2;
      // var maxyear = todayDate.getUTCFullYear() - 0;
      // var maxtdate = todayDate.getDate();
      if (month < 10) {
          month = "0" + month
      }
      if (tdate < 10) {
          tdate = "0" + tdate;
      }
      var minDate = year + "-" + month + "-" + tdate;
      console.log(minDate);
      $('[name="start_date"]').attr('min',minDate);

  })
})

      var fromdate;
      $('[name="start_date"]').on('change',function()
      {
        fromdate=$(this).val();
        $('[name="end_date"]').prop('min',function()
        {
          return fromdate;
        })

      })

    </script>

    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>
      

<% if (flash.success && flash.success.length > 0) {%>
  new Noty({
    theme: 'relax',
    text: '<%=flash.success%>',
    type: 'success',
    timeout: 1000,
    layout: 'topRight',

  }).show();
  <%} %> 

  <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1000
            
        }).show();    
    <%} %>

    </script>
   
  
    <!-- <script src="/js/script.js"></script> -->
  </body>
</html>