
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Leave Application Form </title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/long_leave.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <div class="testbox">
      <form action="/Leave/apply_longleave" method="post">
        <div class="banner">
          <h1>Long Leave Application Form</h1>
        </div>
        <div class="item">
          <label for="name">Name<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="Name" placeholder="First" required/>
            <input id="name" type="text" name="Last_name" placeholder="Last" required/>
          </div>
        </div>
        <div class="item">
          <label for="bdate">Start Date<span>*</span></label>
          <input id="bdate" type="date" name="Start_date" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
            <label for="bdate">End Date<span>*</span></label>
            <input id="bdate" type="date" name="End_date" required/>
            <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="address">Email Address<span>*</span></label>
              <input id="address" type="text" name="Email" required/>
            </div>
            <div>
              <label for="number">Phone Number</label>
              <input id="number" type="tel" name="Phone_number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">SID</label>
              <input id="language" type="number" name="SID" />
            </div>
            <div>
                <label for="number">Parent's Phone Number</label>
                <input id="number" type="tel" name="Parent_number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="country">Room Number</label>
              <input id="country" type="number" name="Room_number" />
            </div>
            <div>
              <label for="job">Reason for Leave</label>
              <input id="job" type="text" name="Reason" />
            </div>
          </div>
        </div>
        <div class="item">
          <label for="apply">Address of Visiting Plane</label>
          <input id="apply" type="text" name="Visiting_address"/>
        </div>
          <button type="submit">APPLY</button>
        </div>
         
      </form>
    </div>
    <a href="/user/profile"><button >GO back to profile page</button></a>
     </div>
    </div>
    <script>
      

<% if (flash.success && flash.success.length > 0) {%>
  new Noty({
    theme: 'relax',
    text: '<%=flash.success%>',
    type: 'success',
    timeout: 1000,
    layout: 'topRight',

  }).show();
  <%} %> 

  <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1000
            
        }).show();    
    <%} %>

    </script>
    <!-- <script src="/js/script.js"></script> -->
  </body>
</html>