
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Leave Application Form </title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/long_leave.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>
  <body>
    <div class="testbox">
      <form action="/Leave/apply_longleave" method="post">
        <div class="banner">
          <h1>Long Leave Application Form</h1>
        </div>
        <div class="item">
          <label for="name">Name<span>*</span></label>
          <div class="name-item">
            <input id="name" type="text" name="name" placeholder="First" required/>
            <!-- <input id="name" type="text" name="last_name" placeholder="Last" /> -->
          </div>
        </div>
        <div class="item">
          <label for="bdate">Start Date<span>*</span></label>
          <input id="bdate" type="date" name="start_date" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
            <label for="bdate">End Date<span>*</span></label>
            <input id="bdate" type="date"  name="end_date" required/>
            <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="address">Email Address</label>
              <input id="address" type="text" name="email" />
            </div>
            <div>
              <label for="number">Phone Number</label>
              <input id="number" type="tel" name="number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">SID<span>*</span></label>
              <input id="language" type="number" name="sid" required />
            </div>
            <div>
                <label for="number">Parent's Phone Number</label>
                <input id="number" type="tel" name="parent_number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="country">Room Number</label>
              <input id="country" type="number" name="room_number" />
            </div>
            <div>
              <label for="job">Reason for Leave<span>*</span></label>
              <input id="job" type="text" name="reason" required />
            </div>
          </div>
        </div>
        <div class="item">
          <label for="apply">Address of Visiting Plane<span>*</span></label>
          <input id="apply" type="text" name="visiting_address" required/>
        </div>
          <button type="submit">APPLY</button>
        </div>
         
      </form>
    </div>
    <center><a href="/user/profile"><button class="button button2">GO back to profile page</button></a></center>
     </div>
    </div>
    <script>
      

<% if (flash.success && flash.success.length > 0) {%>
  new Noty({
    theme: 'relax',
    text: '<%=flash.success%>',
    type: 'success',
    timeout: 1000,
    layout: 'topRight',

  }).show();
  <%} %> 

  <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1000
            
        }).show();    
    <%} %>

    </script>
    <!-- <script type="text/javascript">
      $(function(){
        var dtToday = new Date();
       
       var month = dtToday.getMonth() ;
       var day=dtToday.getDate()+20;
       var minday = dtToday.getDate()+3;
       var year = dtToday.getFullYear();
       if(month < 10)
           month = '0' + month.toString();
       if(day < 10)
        day = '0' + day.toString();
       var maxDate = year + '-' + month + '-' + day;
       var minDate = year + '-' + month + '-' + minday;
       $('#inputdate').attr(minDate, maxDate);
      });
    </script> -->
    <!-- <script src="/js/script.js"></script> -->
  </body>
</html>