<!-- In this page we will show the data of the users who have applied for the leave....this page must be accessible to only mam -->
        <p>Following data is present in database</p>

        <div>

            <% for(let i of data)
            {%>
                <ul>
                    <div>
                        
                        <h5>
                           Name: <%=i.Name%>
                        </h5>
                        
                    </div>

                    <div>
                        
                        <h5>
                            SID: <%=i.SID%>
                         </h5>
                    </div>
                    
                </ul>

            <%} %> 
        </div>