<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:ital@1&display=swap"
        rel="stylesheet">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- fontsawesome cdn -->
    <script src="https://kit.fontawesome.com/c035598f8c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/student.css">
<!-- In this page we will show the data of the users who have applied for the leave....this page must be accessible to only mam -->
<a href="/admin/getlongleave">
    <button class="btn btn-primary">Long-Leave</button>

 </a> 
  <a href="/admin/getlateleave">
    <button class="btn btn-primary">Late-Leave</button>

  </a>

  <div class="col-sm-12">
    <a class="btn btn-info "  href="/user/sign-out">Sign-Out</a>
  </div>
        